{% extends "base/main.html"%}
{%load static %}
{% block content %}

<link rel="stylesheet" href="{% static "css/about_me.css"%}">

<div class="container container-flex">


    <main role="main">


        <img class="image-full" src="{% static "images/andrea.jpg"%}" alt="Lady sitting on a street bench and looking at her laptop">
        <h2>My name is Emmanuella and living the simple life saved me.</h2>
         
        <p><strong>I am a Professional chef</strong>. I had so many things that
         i thought that i loved, but the truth is i couldn't even appreciate any of it
         because there was too much.</p>
        <p>Things were terrible. I had a job that i hated, 
        a home that i didn't want to live in, and i couldn't hold a relationship.</p>
        <hr>

       <h3>How I turned things around</h3>
        <p><strong>I was on the verge of breakdown, when i got rid of everything</strong>.
        I literally put 90% of my possessions in the garbage,
        sold my place and moved into a smaller apartment and i quit my job.</p>
        <p>It wasn't easy at all, but everything around me was in such a mess,
        I didn't know whatelse to do and it worked. </p>
         <hr>
    
        <h3>Now I live the simple life</h3>
        <p>Now that i'm living a simple life, things are so much better. I am less stressed
         and i enjoy my work even better, and i have more free time to enjoy.</p>
         <p>With how much it turned my life around, <strong>I felt like i had no choice but to start sharing how i did it</strong>, and
         how other can benefit from living a simple life as well, which is why i started this site!</p>    
    </main>









    <aside class="sidebar">

      <div class="sidebar-widget">
        <h3>RECENT POST</h3>
        {%for post in posts%}
        <a href="{%url "post_detail" post.id %}">
        <div class="widget-recent-post">
            <h3 class="widget-recent-post-title">{{post.headline}}</h3>
          <img class="widget-image" src="{{post.thumbnail.url}}" alt="A plate of pasta and meatballs">
        </div>
        <a/>
        {%endfor %}
    </div>
    </aside>
 </div> 



{% endblock %}